<header>
  <div class="top-header">
    <div class="socials">
      <div class="fb"><a href="#" title=""></a></div>
      <div class="vk"><a href="#"></a></div>
      <div class="tt"><a href="#"></a></div>
      <div class="inst"><a href="#"></a></div>
    </div>
    <div class="main-search">
      <form>
        <input type="text" placeholder="Поиск по сайту">
        <input type="submit" name="" value="">
      </form>
    </div>
  </div>
  <div class="middle-header">
    <div class="logo"><a href="/"></a></div>
    <div class="slogan">Практикуем натуральность</div>
    <div class="user-panel">
      <div class="cart">
        <a href="#" title="">
          <span>0</span>
        </a>
      </div>
      <div class="authorization">
        <div class="signup"><a href="#" title="">Регистрация</a></div>
        <div class="signin"><a href="#" title="">Вход</a></div>
      </div>
      <div class="tel">
        <a href="tel:+8128888888" type="tel" title="">(812) 888-88-88</a>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <ul class="main-menu">
      <li><a href="#" title="">О нас</a></li>
      <li><a href="#" title="">Наши товары</a></li>
      <li><a href="#" title="">Доставка и оплата</a></li>
      <li><a href="#" title="">Контакты</a></li>
    </ul>
  </div>
</header>