/*========
  Global
=========*/
@import "components/variables.styl"
@import "components/mixins.styl"
@import "components/reset.styl"
@import "components/helpers.styl"

/*========
  Libs
=========*/
@import "lib/slick.styl"
@import "lib/magnific-popup.styl"
/*========
  Layouts
=========*/
@import "layouts/header.styl"
/*========
  Pages
=========*/
@import "project.styl"
@import "pages/index.styl"
@import "pages/item.styl"
@import "pages/cart.styl"
@import "pages/catalog.styl"
@import "pages/working.styl"
@import "pages/order.styl"

/* Shame styles */
@import "shame.styl"
