.proccess
  width 100%
  height 100%
  background url(../images/working.png) 50% 50% no-repeat
  background-size cover
.working
  .text
    display table
    height 100%
    width 100%
    text-align center
    color #fff
    .helper
      display table-cell
      vertical-align middle
    .logo
      width 744px
      height 452px
      background url(../images/working-logo.png) 0 0 no-repeat
      margin 0 auto
    .small
      font-size 25px
      margin-top 50px
.w-footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 100px
  color #fff
  .wrapper
    clearfix()
  .copy
    float left
  .tel
    float right
    font-size 30px